<table class="table table-striped table-hover ">
  <thead>
	  <tr class="info">
		  <th> Date </th>
      <th> Amount</th>
		  <th> Transaction Details</th>
	  </tr>
  </thead>
  <tbody>
    <% @transaction.each do |e| %>
      <tr>
        <% if e.trackble_type == "Income"%>
          <td> <%= e.date %> </td>
          <td> <%= e.amount %> </td>
          <td>  creadited </td>
          <% else %>
          <td> <%= e.date %> </td>
          <td> <%= e.amount %> </td>
          <td> debited  </td>
      </tr>
    <% end %>
    <% end %>
  </tbody>
</table>