<h3> Creadit Information </h3>
  <table class="table table-striped table-hover ">
    <thead>
  	  <tr class="info">
  		  <th> Date </th>
        <th> Amount</th>
  		  <th> Transaction Type</th>
  	  </tr>
    </thead>
    <tbody>
      <% @transaction.each do |e| %>
        <tr>
          <% if e.trackble_type.present? && e.trackble_type == "Income"%>
            <td> <%= e.date %> </td>
            <td> <%= e.amount %> </td>
            <td> <%= e.trackble_type %> </td>
        </tr>
      <% end %>
      <% end %>
    </tbody>
  </table>