<h3> Expences By Category </h3>
<%= javascript_include_tag "jsapi", "chartkick" %>
<%= pie_chart Expence.all.unscoped.group(:category).count(:amount) %>


<table class="table table-striped table-hover ">
  <thead>
    <tr class="info">
      <th> Category </th>
      <th> Amount </th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @reports.each do |e| %>
      <tr>
        <td> <%= e.category %> </td>
        <td> <%= e.amount %> </td>
        <td></td>
      </tr>
    <% end %>
  </tbody>
</table>
